<!--Account Page-->

<!DOCTYPE html>

<html lang="en">
    <!--Header-->
    <head>
        <title>Account Page</title>
        <%- include('../partials/head') %>

        <!--Link JS-->
        <script src="/scripts/account.js" type="module"></script>
    </head>

    <body>
        <!--Navbar-->
        <nav>
            <%- include('../partials/navbar') %>
        </nav>

        <!--Main-->
        <main class="page-wrap">
            <!--Page Heading-->
            <h1>Account Page</h1>
            <p>Update your account details, view or merge saved quotes.</p>
            <% if (user.admin) { %>
                <p>Access admin settings.</p>
            <% } %>

            <!--Reference: https://www.w3schools.com/howto/howto_js_tabs.asp-->

            <!--Tab Buttons-->
            <div class="tab">
                <button class="tablinks" onclick="openTab('user-details')">User Details</button>
                <button class="tablinks" onclick="openTab('saved-quotes')">Saved Quotes</button>
                <button class="tablinks" onclick="openTab('merge-quotes')">Merge Quotes</button>
                <% if (user.admin) { %>
                    <button class="tablinks" onclick="openTab('admin-settings')">Admin Settings</button>
                <% } %>
            </div>

            <!--User Details-->
            <div id="user-details" class="tabcontent">
                <h2 id="header-user-details">User Details</h2>

                <!--Update Error-->
                <p id="failed-update" style="display:none">Username / Email Already Exists or current password incorrect.</p>
                <p id="failed-password" style="display:none">Password too short (8 or more characters)</p>
                <p id="failed-fields" style="display:none">Please fill in all fields (except password)</p>

                <!--Update Form-->
                <form method="post" id="update-form">
                    <!--First Name-->
                    <label for="firstName">First Name:</label>
                    <input type="text" name="firstName" id="firstName_account" value="<%= user.firstName %>">

                    <!--Last Name-->
                    <label for="lastName">Last Name:</label>
                    <input type="text" name="lastName" id="lastName_account" value="<%= user.lastName %>">

                    <!--Email-->
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email_account" value="<%= user.email %>">

                    <!--Company-->
                    <label for="company">Company:</label>
                    <input type="text" name="company" id="company_account" value="<%= user.company %>">

                    <!--Username-->
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username_account" value="<%= user.username %>">

                    <!--Password-->
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password_account">

                    <!--Confirm Current Password-->
                    <label for="currentPassword">Confirm Current Password:</label>
                    <input type="password" name="currentPassword" id="currentPassword_account">

                    <!--Update Button-->
                    <button type="submit" id="account-update-button">
                        <i class="fa-solid fa-pen"></i> Update
                    </button>
                </form>

                <!--Delete Account-->
                <div id="delete_account">
                    <p id="failed-delete" style="display:none">Incorrect Password!</p>
                    <label for="deletePassword">Confirm Current Password:</label>
                    <input type="password" name="deletePassword" id="deletePassword_account">
                    <button type="submit" id="delete-account" onclick="deleteUser()">
                        <i class="fa-solid fa-trash"></i> Delete Account
                    </button>
                </div>
            </div>

            <!--Saved Quotes-->
            <div id="saved-quotes" class="tabcontent">
                <h2 id="header-saved-quotes">Saved Quotes</h2>

                <!--Select Quotes-->
                <select name="Quotes" id="select-quote" onchange="showQuote(this)"></select>

                <!--Quote-->
                <div id="account-partial" style="display: none;">
                    <!--Quote Name-->
                    <h1 id="project-title"></h1>

                    <%- include('../templates/quoteForm') %>

                    <!--Update Quote Button-->
                    <div id="update-quote">
                        <label for="change-quote-name">Change Project Name:</label>
                        <input type="text" name="change-quote-name" id="newQuoteName">
                        <button type="submit" id="update-quote-button" onclick="updateQuote(this)">
                            <i class="fa-solid fa-pen"></i> Update Quote
                        </button>
                        <h4 id="saveStatus"></h4>
                    </div>

                    <!--Delete Quote Button-->
                    <div id="delete-quote">
                        <button type="submit" id="delete-quote-button" onclick="deleteQuote()">
                            <i class="fa-solid fa-trash"></i> Delete Quote
                        </button>
                    </div>
                </div>
            </div>

            <!--Merge Quotes-->
            <div id="merge-quotes" class="tabcontent">
                <h2 id="header-merge-quotes">Merge Quotes</h2>

                <div id="merge-box">
                    <!--Merge Quotes-->
                    <div id="merge-quotes-list"></div>

                    <i class="fa-solid fa-arrow-right"></i>

                    <!--Quotes to merge-->
                    <div id="quotes-to-merge"></div>
                </div>

                <div id="saveMerged" style="display: none;">
                    <!--New quote name-->
                    <label for="mergedQuoteName">Merged Quote Name:</label>
                    <input type="text" name="mergedQuoteName" id="mergedQuoteName">

                    <!--Save Merged Quote Button-->
                    <button type="submit" id="save-merged-button" onclick="saveMerged()">
                        <i class="fa-solid fa-save"></i> Save Merged Quote
                </div>
            </div>

            <% if (user.admin) { %>
                <!--Admin Settings-->
                <div id="admin-settings" class="tabcontent">
                    <h2 id="header-admin-settings">Admin Settings</h2>
                    <h3 id="pay-grade-title">Pay Grades:</h3>

                    <!--Admin Settings-->
                    <form id="pay-grades-form">
                        <!--Pay grade inputs-->
                        <label for="junior">Junior</label>
                        <input type="number" name="junior" id="junior-paygrade">

                        <label for="standard">Standard</label>
                        <input type="number" name="standard" id="standard-paygrade">

                        <label for="senior">Senior</label>
                        <input type="number" name="senior" id="senior-paygrade">

                        <p id="rateError" style="display:none">Please fill in all fields with value > 0.</p>

                        <!--Update Pay Grades-->
                        <button type="submit" id="update-pay-grades">
                            <i class="fa-solid fa-pen"></i> Update Pay Grades
                        </button>
                    </form>
                </div>
            <% } %>
        </main>

        <!--Footer-->
        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <!--Templates-->
        <%- include('../templates/subtask') %>
        <%- include('../templates/worker') %>
        <%- include('../templates/ongoingCost') %>
        <%- include('../templates/oneOffCost') %>
        
    </body>
</html>