<!--Home Page-->

<!DOCTYPE html>

<html lang="en">
    <!--Header-->
    <head>
        <title>Home Page</title>
        <%- include('../partials/head') %>
    </head>

    <body>
        <!--Navbar-->
        <nav>
            <%- include('../partials/navbar') %>
        </nav>

        <!--Main-->
        <main>
            <!--Page Heading-->
            <div>
                <h1>Project Quote Calculator</h1>
                <p>Enter your details below to get a quote!</p>  
            </div>

            <!--Project Quote Calculator Form-->
            <div>
                <form id="quote-calculator" action="calculateQuote()">
                    <!--Workers-->
                    <h2>Worker(s)</h2>
                    <button id="addWorker" type="button">+ Worker</button>

                    <!--Append workers-->
                    <div id="workers">
                        <!--Input Labels-->
                        <label for="timeRequired">Time Required:</label>
                        <label for="rate">Rate:</label>
                        <label for="numWorkers">Amount:</label>

                        <div class="worker">
                            <!--Time required and units of time-->
                            <div>
                                <input type="number" name="timeRequired" id="timeRequired" min="1">
                                <select name="units" id="units">
                                    <option value="hours">Hours</option>
                                    <option value="days">Days</option>
                                    <option value="weeks">Weeks</option>
                                    <option value="months">Months</option>
                                </select>
                            </div>

                            <!--Worker Rate-->                            
                            <select name="rate" id="rate">
                                <option value="Junior">Junior</option>
                                <option value="Standard">Standard</option>
                                <option value="Senior">Senior</option>
                            </select>

                            <!--Number of Workers-->
                            <input type="number" name="numWorkers" id="numWorkers" min="1">
                        </div>
                    </div>

                    <!--Ongoing Cost-->
                    <h2>Ongoing Costs</h2>
                    <button id="addOngoing" type="button">+ Ongoing Cost</button>

                    <!--Append ongoing costs-->
                    <div id="ongoingCosts">
                        <!--Input Labels-->
                        <label for="costName">Name:</label>
                        <label for="costAmount">Amount:</label>
                        <label for="costFrequency">Frequency:</label>
                        <label for="costDuration">Duration:</label>

                        <div class="ongoingCost">
                            <!--Cost Name-->
                            <input type="text" name="costName" id="costName">

                            <!--Cost Amount-->
                            <input type="number" name="costAmount" id="costAmount" min="1">

                            <!--Cost Frequency-->
                            <select name="costFrequency" id="costFrequency">
                                <option value="hours">Hours</option>
                                <option value="days">Days</option>
                                <option value="weeks">Weeks</option>
                                <option value="months">Months</option>
                            </select>

                            <!--Cost Duration-->
                            <input type="number" name="costDuration" id="costDuration" min="1">
                        </div>
                    </div>

                    <!--One-off Cost-->
                    <h2>One-off Costs</h2>
                    <button id="addOneOff" type="button">+ One-off Cost</button>

                    <!--Append one-off costs-->
                    <div id="oneOffCosts">
                        <!--Input Labels-->
                        <label for="oneCostName">Name:</label>
                        <label for="oneCostAmount">Amount:</label>

                        <div class="oneOffCost">
                            <!--Cost Name-->
                            <input type="text" name="oneCostName" id="oneCostName">

                            <!--Cost Amount-->
                            <input type="number" name="oneCostAmount" id="oneCostAmount" min="1">
                        </div>
                    </div>

                    <!--Button and Output-->
                    <div class="button-holder">
                        <button id="button-home">Calculate Quote!</button>
                        <h3 id="finalQuote">?????</h3>
                        <h3 id="quoteExplained">?????</h3>
                    </div>

                    <!--Save Project Quote-->
                    <% if (locals.loggedin) { %>
                        <div class="button-holder">
                            <label for="quoteName">Project Quote Name:</label>
                            <input type="text" name="quoteName" id="quoteName">
                            <button id="button-save">Save Quote</button>
                        </div>
                    <% } %>
                </form>
            </div>
        </main>

        <!--Footer-->
        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <!--Templates-->
        <%- include('../templates/worker') %>
        <%- include('../templates/ongoingCost') %>
        <%- include('../templates/oneOffCost') %>
        
    </body>
</html>