<!--Home Page-->

<!DOCTYPE html>

<html lang="en">
    <!--Header-->
    <head>
        <title>Home Page</title>
        <%- include('../partials/head') %>

        <!--Link JS-->
        <script src="/scripts/home.js" type="module"></script>
    </head>

    <body>
        <!--Navbar-->
        <nav>
            <%- include('../partials/navbar') %>
        </nav>

        <!--Main-->
        <main>
            <!--Page Heading-->
            <div>
                <h1>Project Quote Calculator</h1>
                <p>Enter your details below to get a quote!</p> 
                <button id="clear" type="button" onclick="clearForm()">
                    <i class="fa-solid fa-broom"></i> Clear
                </button>
                <button id="reset" type="button" onclick="resetForm()">
                    <i class="fa-solid fa-reply"></i> Reset
                </button>
            </div>

            <!--Project Quote Calculator Form-->
            <div>
                <%- include('../templates/quoteForm') %>

                <!--Save Project Quote-->
                <% if (locals.loggedIn) { %>
                    <div class="button-holder">
                        <p id="empty-project-name" style="display: none">Enter Project Name</p>
                        <label for="quoteName">Project Quote Name:</label>
                        <input type="text" name="quoteName" id="quoteName">
                        <button id="button-save" onclick="saveQuote()">
                            <i class="fa-solid fa-floppy-disk"></i> Save Quote
                        </button>
                        <h4 id="saveStatus"></h4>
                    </div>
                <% } %>
            </div>
        </main>

        <!--Footer-->
        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <!--Templates-->
        <%- include('../templates/subtask') %>
        <%- include('../templates/worker') %>
        <%- include('../templates/ongoingCost') %>
        <%- include('../templates/oneOffCost') %>
        
    </body>
</html>