<!--Home Page-->

<!DOCTYPE html>

<html lang="en">
    <!--Header-->
    <head>
        <title>Home Page</title>
        <%- include('../partials/head') %>

        <!--Link JS-->
        <script src="/scripts/home.js"></script>
    </head>

    <body>
        <!--Navbar-->
        <nav>
            <%- include('../partials/navbar') %>
        </nav>

        <!--Main-->
        <main>
            <!--Page Heading-->
            <div>
                <h1>Project Quote Calculator</h1>
                <p>Enter your details below to get a quote!</p> 
                <button id="clear" type="button">Clear</button>
                <button id="reset" type="button">Reset</button>
            </div>

            <!--Project Quote Calculator Form-->
            <div>
                <!--Error Messages-->
                <p id="empty-form-fields" style="display:none">Please fill in all fields or remove empty fields</p>

                <!--Subtask-->
                <h2>Subtask(s)</h2>
                <button id="addSubtask" type="button">+ Subtask</button>

                <!--Append subtasks-->
                <div id="subtasks"></div>

                <!--Fudge Factor-->
                <% if (locals.admin) { %>
                    <label for="fudgeFactor">Use Fudge Factor</label>
                    <input type="checkbox" name="fudgeFactor" id="fudgeFactor">
                <% } %>

                <!--Final Cost Button-->
                <div class="button-holder">
                    <button id="button-calculate-final" onclick="calculateQuote()">Calculate Quote</button>
                    <h4 id="final-quote"></h4>
                </div>

                <!--Quote Explained-->
                <h4 id="quoteExplained">
                    Project Quote based on: 
                    + Estimated Time Required X Estimated Salary X Number of Workers
                    + Estimated Ongoing Costs X Estimated Ongoing Cost Duration
                    + Estimated One-off Costs

                    Working time: 8 hours per day, 5 days per week, 4 weeks per month
                </h4>

                <!--Save Project Quote-->
                <% if (locals.loggedin) { %>
                    <div class="button-holder">
                        <label for="quoteName">Project Quote Name:</label>
                        <input type="text" name="quoteName" id="quoteName">
                        <button id="button-save">Save Quote</button>
                    </div>
                <% } %>
            </div>
        </main>

        <!--Footer-->
        <footer>
            <%- include('../partials/footer') %>
        </footer>

        <!--Templates-->
        <%- include('../templates/subtask') %>
        <%- include('../templates/worker') %>
        <%- include('../templates/ongoingCost') %>
        <%- include('../templates/oneOffCost') %>
        
    </body>
</html>